@import url("../../node_modules/bulma-slider/dist/css/bulma-slider.min.css");

.site-content {
  min-height: 100vh;
}

#main-cont {
	position: relative;
	min-height: 95vh;
	max-width: 99vw;
	margin: 70px auto 5rem auto;
}

#map-cont {
	min-height: 100vh;
	padding: 1.5rem 0 0 0;
	box-shadow: 0 16px 32px rgba(10, 10, 10, .2);
}

#map {
	min-height: 100%;
}

#find-content-cont {
	max-width: 70%;
	margin: 20vh auto 0 auto;
}

#find-content-cont h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#find-content-cont h5 {
	font-size: 1.5rem;
	font-weight: 400;
	max-width: 70%;
	margin: 0 auto 2rem auto;
}

#find-content-cont p {
	color: #9e9e9e;
	max-width: 65%;
	font-weight: 100;
	margin: 0 auto;
}

#find-border, #modal-border {
    height: 8px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.5;
    margin: 2rem auto 3rem auto;
    transform: rotate(180deg);
}

#find-form {
	padding-top: 1.5rem;
	margin-top: 3rem;
	border-top: 1px solid #eeeeee;
}

#find-form .field {
	max-width: 75%;
	margin: 2rem auto;
}

#find-btn {
    min-width: 250px;
    margin-top: 1rem;
    min-height: 3rem;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    transition: 0.3s ease-in-out;
    border: none;
    font-weight: 600;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#find-btn:hover {
    box-shadow: 0 8px 16px rgba(10, 10, 10, .2);
}

#find-content-cont #range-value {
	font-size: 2.5rem;
	font-weight: 800;
	color: #00d1b2;
}

#find-content-cont #range-value span {
	font-size: 1.2rem;
	font-weight: 400;
	color: #9e9e9e;
	margin-left: 5px;
	opacity: 0.6;
}

#find-form .columns {
	margin-bottom: 0;
}

#results-bg {
	background-color: #f5f5f5;
	margin: 10rem 0 0 0;
	/*-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);*/
}

#results-cont #intro h2 {
	font-weight: 800;
	font-size: 2.25rem;
	margin-bottom: 1rem;
}

#results-cont #intro p {
	color: #9e9e9e;
	font-weight: 100;
}

#results-cont {
	opacity: 0;
	transition: 0.3s ease-in-out;
	padding: 10rem 0 5rem 0;
	margin: 0 auto;
	min-height: 40vh;
}

#results {
	max-width: 90%;
	margin: 5rem auto;
	clear: both;
}

#intro p {
	margin-bottom: 2rem;
}

#intro {
	max-width: 80%;
	margin: 0 auto 5rem auto;
	min-height: 150px;
}

#results .result-card {
	max-width: 350px;
	min-width: 350px;
	margin: 1rem;
	padding: 0;
	box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
	border-radius: 12px;
	min-height: 580px;
	max-height: 580px;
	position: relative;
	display: inline-block;
	transition: 0.3s ease-in-out;
	outline: none;
}

#results .result-card:hover {
	box-shadow: 0 8px 16px rgba(10, 10, 10, .2);
}

#results .result-card:focus {
	box-shadow: 0 32px 64px rgba(10, 10, 10, .5);
	z-index: 29;
	transform: scale(1.01);
}

.card-image {
    min-width: 100%;
    min-height: 0px;
    height: 220px;
    max-height: 220px;
    position: relative;
	transition: linear 0.1s;
	border-radius: 12px;
}

.result-card .description {
	color: #9e9e9e;
	font-size: 0.8rem;
	word-break: break-all;
	min-height: 80px;
	max-height: 80px;
}

.result-card .card-cont {
	padding: 1rem 0;
	margin: 1rem 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 27px;
}

.result-card .price-cont {
	border-left: 1px solid #eeeeee;
}

.result-card .time-cont {
	padding: 0.5rem;
}

.result-card .time-cont h5 {
	font-size: 1.1rem;
	font-weight: 400;
}

.result-card .card-cont span, .price-cont p {
    font-weight: 800;
	color: #9e9e9e;
	display: block;
	width: 100%;
	margin: 0.5rem 0;
    opacity: 0.7;
    font-size: 0.8rem;
}

.result-card .time-cont p {
	margin: 0;
}

.result-card .amount {
	margin: 1.25rem auto 0 auto;
	font-weight: 800;
	font-size: 2.3rem;
	color: #00d1b2;
}

.result-card .card-btn {
	min-width: 90%;
	max-width: 90%;
	min-height: 3rem;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    transition: 0.3s ease-in-out;
	border: none;
	outline: none;
	color: #ffffff;
    font-weight: 600;
    background: #7F7FD5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: absolute;
	bottom: 4%;
	left: 50%;
	text-transform: capitalize;
	transform: translate(-50%);
}

.result-card .card-btn:hover {
	box-shadow: 0 8px 16px rgba(10, 10, 10, .2);
}

.result-card .card-image {
	position: relative;
}

.card-name {
	position: absolute;
	bottom: -5%;
	left: 50%;
	transform: translate(-50%);
	font-weight: 800;
	font-size: 1.75rem;
	width: 100%;
	text-transform: capitalize;
}

#sort {
	float: right;
}

.modal-card-title {
    text-align: left;
    font-weight: 100;
}

.modal-card-body {
    padding: 2.5rem 0;
}

.modal-card-body .columns {
    max-width: 65%;
    margin: 0.5rem auto;
}

.modal-card-foot {
    justify-content: space-between;
}

.modal-card-body .enter-email {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #eeeeee;
}
.modal-card-body h2 {
	font-size: 2.5rem;
	font-weight: 800;
	margin-bottom: 1rem;
}

.modal-card-body p {
	color: #9e9e9e;
	font-weight: 100;
	max-width: 80%;
	margin: 0 auto 2rem auto;
}

.modal-card-body .image {
	margin: 0 auto 2rem auto;
}

.modal-card-body .image img {
	box-shadow: 0 8px 16px rgba(10, 10, 10, .2);
}

.modal-card-body #character-counter {
	float: right;
	color: #9e9e9e;
	font-weight: 400;
	font-size: 0.9rem;
	margin-top: 1rem;
}

.modal-card-body textarea {
	min-height: 250px !important;
}

#contact-message {
	max-width: 70%;
	margin: 0 auto;
}

#stats {
	float: left;
}

#stats .column {
	min-width: 150px;
}

#stats span {
	font-size: 0.75rem;
	font-weight: 100;
	color: #9e9e9e;
}

#stats h5 {
	color: #00d1b2;
	font-size: 1.75rem;
	font-weight: 800;
}

@media screen and (max-width: 1000px) {
	#find-content-cont {
		max-width: 90%;
	}	
}

@media screen and (max-width: 950px) {
	#stats, #sort {
		min-width: 100%;
		float: none;
	}
	
	#sort {
		margin: 2rem auto 0 auto;
	}

	#intro {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 768px) {
	#map-cont, #map {
		min-height: 50vh;
	}

	#find-content-cont {
		margin-top: 10vh;
	}

	#results .result-card {
		max-width: 350px;
		min-width: 350px;
		min-height: 680px;
		max-height: 680px;
	}

	.result-card .card-cont {
		padding: 0.5rem 0;
		margin: 0;
		font-size: 1.1rem;
	}
	
	.result-card .price-cont {
		border-top: 1px solid #eeeeee;
		border-left: none;
	}

	.amount {
		margin: 0;
	}
	
}

@media screen and (max-width: 500px) {
	#find-content-cont {
		max-width: 100%;
	}
	
	#results .result-card {
		max-width: 95%;
		min-width: 95%;
		margin: 0 auto;
	}
}