@import url("lib/toast.css");

/* class for text not to be selected or focused */
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

body {
    overflow-x: hidden;
}

p {
    line-height: 1.6;
}

label:hover {
    transition:0.3s ease-in-out;
}

.box {
    border-radius: 0;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.site-content {
    flex: 1;
}

#navbar-logo {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    margin-left: 1rem;
}

.navbar-brand a:hover {
    color: #4a4a4a;
}

#main-navbar-menu .button {
    margin-right: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.footer {
    padding: 5rem 0;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: rgba(253, 164, 91, 0.9);
    right: 1.125em;
    opacity: 0.6;
    z-index: 4;
}

select, input {
    transition: 0.2s ease-in-out !important;
    color: #757575 !important;
    font-weight: 300;
}

.control svg {
    stroke: #dddddd !important;
    margin: 0 10px -3px 12px;
}