.site-content {
    min-height: 105vh;
}

#reset-password-cont {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%);
    min-width: 425px;
    max-width: 425px;
    box-shadow: 0 32px 62px rgba(10, 10, 10, .2);
    padding: 3rem 2.5rem 3.5rem 2.5rem;
    border-radius: 6px;
    background-color: #ffffff;
}

#reset-border {
    height: 8px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.5;
    margin: 2rem auto 3rem auto;
    transform: rotate(180deg);
}

#reset-password-cont h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
}

#reset-password-btn {
    min-width: 100%;
    margin-top: 1rem;
    min-height: 3rem;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    transition: 0.3s ease-in-out;
    border: none;
    font-weight: 600;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#reset-password-btn:hover {
    box-shadow: 0 8px 16px rgba(10, 10, 10, .2);
}

#reset-password-cont .help {
    margin: 0.5rem 1.35rem;
    color: #e57373;
    min-height: 6px;
    width: 100%;
    display: block;
}

@media screen and (max-width: 600px) {

    #reset-password-cont {
        min-width: 90%;
    }

    .site-content {
        min-height: 130vh;
    }
}