
.site-content {
    min-height: 145vh;
}

#settings-border {
    height: 8px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.5;
    margin: 2rem auto 4rem auto;
}

#settings-btn, #password-btn, #delete-btn {
    min-width: 200px;
    max-width: 200px;
    margin: 2.5rem 1rem;
    min-height: 3.5rem;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    transition: 0.3s ease-in-out;
    border: none;
    font-weight: 600;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#password-btn {
    background: #B24592;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

#delete-btn {
    background: transparent;
    border: 1.5px solid #e57373;
    color: #e57373;
    opacity: 0.5;
    box-shadow: none;
    transition: 0.3s ease-in-out;

}

#user-avatar-upload {
    margin-right: 1rem;
}

#user-settings-name {
    margin-top: 2.75rem;
    display: block;
    word-break: break-all;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 1px;
}

#settings .columns {
    max-width: 100%;
    margin-left: 2rem;
}

#settings .control, #settings .select, #settings select {
    min-width: 20rem;
    max-width: 20rem;
}

#settings-form-cont {
    max-width: 100%;
    transform: scale(0.9);
}

#settings select {
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
}

#settings {
    max-width: 70%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

#settings .columns {
    margin:  0 auto;
}

#settings h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#settings-btn:hover, #password-btn:hover {
    box-shadow: 0 8px 16px rgba(10, 10, 10, .2);
}

#delete-btn:hover {
    opacity: 1;
}

#settings .field {
    margin-bottom: 0.25rem;
    max-width: 20rem !important;
    margin-right: 2rem;
}

#settings .select {
    margin-bottom: 1rem;
}

#settings .checkbox-cont {
    margin: 0.5rem 0;
    padding-bottom: 1rem;
    color: #9e9e9e;
}

#settings a {
    color: #9e9e9e;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

#settings a:hover {
    color: #4a4a4a;
}

#settings .help, .modal .help {
    margin: 0.5rem 1.35rem;
    color: #e57373;
    min-height: 6px;
    width: 100%;
    display: block;
}

#user-avatar-upload figure {
    min-height: 180px;
    min-width: 180px;
    max-height: 180px;
    max-width: 180px;
    margin: 2rem auto 0 auto;
}

#user-avatar-upload figure img {
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    min-height: 180px;
    min-width: 180px;
    max-height: 180px;
    max-width: 180px;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

#settings #confirm-settings-col {
    margin-top: 1rem;
    border-top: 1px solid #eeeeee;
}

#settings #change-password-txt p {
    color: #9e9e9e;
    font-size: 0.8rem;
    opacity: 0.8;
    margin: 0 auto;
}

.modal-card-title {
    text-align: left;
    font-weight: 800;
}

.modal-card-body {
    padding: 2.5rem 0;
}

.modal-card-body .columns {
    max-width: 65%;
    margin: 0.5rem auto;
}

.modal-card-foot {
    justify-content: space-between;
}

.modal-card-body .enter-current-password {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #eeeeee;
}

.delete-info p, .password-info p {
    color: #9e9e9e;
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.delete-info h5 {
    font-weight: 800;
    text-transform: uppercase;
}

.delete-info span svg, .password-info span svg {
    height: 2.5rem;
    width: 2.5rem;
    stroke: #E94057;
    margin-bottom: 2rem;
}

.password-info span svg {
    stroke: #00d1b2;
}

.modal-card-foot button {
    min-width: 175px;
}

.modal-card-body .passowrd-info-col {
    max-width: 70%;
}

#avatar-upload {
    display: none;
}

@media screen and (max-width: 1000px) {
    #settings-cont {
        flex-wrap: wrap;
    }

    #user-avatar-upload {
        flex: 1;
        margin-right: 0;
    }

    .site-content {
        min-height: 190vh;
    }

    #settings .control, #settings .select, #settings select {
        min-width: 17.5rem;
        max-width: 17.5rem;
    }
}

@media screen and (max-width: 900px) and (max-height: 760px) {
    .site-content {
        min-height: 250vh;
    }
}

@media screen and (min-width: 1600px) and (min-height: 1000px) {
    .site-content {
        min-height: 110vh;
    }
}

@media screen and (max-height: 900px) and (max-width: 600px) {
    .site-content {
        min-height: 260vh;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    #user-avatar-upload {
        margin-right: 0;
    }

    #settings .control, #settings .select, #settings select, #settings .field {
        max-width: 100%;
    }

    #settings .control {
        min-width: 100%;
    }

    .site-content {
        min-height: 200vh;
    }

    #settings .field {
        margin-bottom: 0.25rem;
        max-width: 100% !important;
        margin-right: 0 !important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    #settings .control, #settings .select, #settings select {
        min-width: 17.5rem;
        max-width: 17.5rem;
    }

    .site-content {
        min-height: 100vh;
    }
}

@media screen and (max-width: 900px) {
    #user-avatar-upload {
        margin-right: 0;
    }

    #settings {
        max-width: 100%;
    }

    .modal-card-foot button {
        min-width: 125px;
    }
}


@media screen and (max-height: 700px) and (max-width: 600px){
    .site-content {
        min-height: 290vh;
    }
}

@media screen and (max-height: 600px) and (max-width: 600px) {
    .site-content {
        min-height: 335vh;
    }
}

@media screen and (max-height: 600px) and (max-width: 600px) {
    .site-content {
        min-height: 385vh;
    }
}