
.site-content {
    min-height: 145vh;
}

#settings-border {
    height: 8px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.5;
    margin: 2rem auto 4rem auto;
}

#settings-btn {
    min-width: 200px;
    max-width: 200px;
    margin: 2.5rem 1rem;
    min-height: 3.5rem;
    box-shadow: 0 4px 8px rgba(10, 10, 10, .1);
    transition: 0.3s ease-in-out;
    border: none;
    font-weight: 600;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: right;
}

#user-avatar-upload {
    margin-right: 1rem;
}

#user-settings-name {
    margin-top: 2rem;
    display: block;
    word-break: break-all;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 1px;
}

#settings .columns {
    max-width: 100%;
    margin-left: 2rem;
}

#settings .control, #settings .select, #settings select {
    min-width: 17.5rem;
    max-width: 17.5rem;
}

#settings-form-cont {
    max-width: 100%;
    transform: scale(0.9);
}

#settings select {
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
}

#settings {
    max-width: 70%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

#settings .columns {
    margin:  0 auto;
}

#settings h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#settings-btn:hover {
    box-shadow: 0 8px 16px rgba(10, 10, 10, .2);
}

#settings .field {
    margin-bottom: 0.25rem;
    max-width: 17.5rem !important;
    margin-right: 2rem;
}

#settings .select {
    margin-bottom: 1rem;
}

#settings .checkbox-cont {
    margin: 0.5rem 0;
    padding-bottom: 1rem;
    color: #9e9e9e;
}

#settings a {
    color: #9e9e9e;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

#settings a:hover {
    color: #4a4a4a;
}

#settings .help {
    margin: 0.5rem 1.35rem;
    color: #e57373;
    min-height: 6px;
    width: 100%;
    display: block;
}

#user-avatar-upload figure {
    height: 160px;
    width: 160px;
    margin: 2rem auto 0 auto;
}

#user-avatar-upload figure img {
    min-height: 100%;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

#settings #confirm-settings-col {
    margin-top: 1rem;
    border-top: 1px solid #eeeeee;
}

#settings #confirm-settings-col p {
    color: #9e9e9e;
    font-size: 0.7rem;
    margin-right: 1rem;
    opacity: 0.8;
    margin: 0 auto;
}